#buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

#buttons button{
    width: 100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;
}

#play{
    background-color: rgb(24, 238, 24);
}

#stop{
    background-color: rgb(255, 255, 255);
}

#revert{
    background-color: rgb(255, 255, 255);
}

#skip{
    background-color: rgb(255, 255, 255);
}