#casette {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    width: 50%;
    text-align: center;
    border: rgb(24, 238, 24) 1px solid;
    border-radius: 20% / 50%;
    position: absolute; /* Ensure the element is positioned absolutely */
    left: 50%; /* Move it to the middle horizontally */
    top: 30%;
    transform: translate(-50%, -50%); /* Center it properly */
}

.image {
    width: 100px;
    height: 100px;
    animation-name: rotate-casette;
    animation-duration: 1s;
    
}

.rotating{
    animation: rotate-casette 5s linear infinite;
}


@keyframes rotate-casette {
    to{
        transform: rotate(360deg);
    }
}